@use 'variables';

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 40px;
  background: variables.$light-gray;
  height: 312px;
  border-radius: 30px;
  max-width: 513px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: variables.$primary-color;

    .feedback-info {
      h5, p {
        color: variables.$white;
      }
    }

    p {
        color: variables.$white;
    }
  }

  p {
    font-family: variables.$font-regular;
    color: variables.$black;
    font-size: 18px;
  }
}

.feedback-header {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 85px;
    height: 85px;
  }
}

.feedback-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h5 {
    font-family: variables.$font-semibold;
    color: variables.$black;
    font-size: 28px;
  }

  p {
    font-family: variables.$font-medium;
    color: variables.$black;
    font-size: 20px;
  }
}
