@use 'variables';

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$off-white;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 40px;
  height: 330px;
  width: 100%;
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 180px;

  .logo-embrace {
    width: 100%;
  }
}

.social-media-icons {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-between;

  img {
    width: 28px;
    height: 28px;
  }
}

.footer-nav {
  display: flex;
  gap: 75px;
  width: fit-content;

  nav {
    display: flex;
    flex-direction: column;
    gap: 48px;

    p {
      font-size: 16px;
      font-family: variables.$font-medium;
      color: variables.$black;
      cursor: pointer;
    }
  }
}

.footer-rights {
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  background-color: variables.$black;
  width: 100%;

  p {
    font-size: 14px;
    font-family: variables.$font-regular;
    color: variables.$white;
  }

  .policies {
    display: flex;
    gap: 48px;

    p {
      font-size: 14px;
      font-family: variables.$font-regular;
      color: variables.$white;
    }
  }
}
