<footer>
  <div>
    <img src="../../../assets/icons/Embrace.svg" alt="Logo da Embrace" />
    <div class="social-media-icons">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
    <component-primary-button text="Contact Us" />
  </div>
  <div>
    <nav>
      <p>Work With Us</p>
      <p>Advertise With Us</p>
      <p>Support Us</p>
      <p>Busness Advices</p>
    </nav>
    <nav>
      <p>Private Coaching</p>
      <p>Our Work</p>
      <p>Our Commitment</p>
      <p>Our Team</p>
    </nav>
    <nav>
      <p>About Us</p>
      <p>FAQ's</p>
      <p>Report a Bug</p>
    </nav>
  </div>
</footer>
