@use 'variables';

div {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: center;
  gap: 16px;
  width: 100%;
}

img {
  max-width: 386px;
  border-radius: 32px;
  height: 324px;
  object-fit: cover;
}

p {
  font-size: 28px;
  font-family: variables.$font-medium;
  color: variables.$black;
}
