@font-face {
    font-family: 'SansBold';
    src: url('/assets/fonts/GeneralSans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SansMedium';
    src: url('/assets/fonts/GeneralSans-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SansRegular';
    src: url('/assets/fonts/GeneralSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansSemibold';
    src: url('/assets/fonts/GeneralSans-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}