@use 'variables';

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;   
    width: 1200px;

    h3 {
        font-size: 36px;
        font-family: variables.$font-medium;
        color: variables.$black;
    }
}

.rowImages {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 80px;

    img {
        width: 160px;
        height: 50px;
        object-fit: contain;
    }
}