@use 'variables';

.option-faq-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid variables.$gray;
  cursor: pointer;
  max-width: 600px;
  height: fit-content;
  padding: 32px;
}

.option-faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.option-faq-question {
  font-family: variables.$font-medium;
  font-size: 20px;
  color: variables.$black;
}

.option-faq-icon {
  font-family: variables.$font-medium;
  font-size: 20px;
  color: variables.$black;
  border-radius: 50%;
  text-align: center;
}

.option-faq-answer {
  font-family: variables.$font-regular;
  font-size: 20px;
  color: variables.$black;
  width: 600px;
  padding-inline: 32px;
}
