@use 'variables';

section {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.content-wrapper {
  background-image: url('../../../assets/backgrounds/CTA-Banner-2.png');
  background-size: cover;
  background-position: center;
  gap: 190px;
  height: fit-content;
  border-radius: 32px;
  padding-block: 50px;
  padding-inline: 50px;
  width: 100%;

  display: flex;

  img {
    width: 352px;
    height: 352px;
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
  max-width: 500px;
  gap: 32px;
  justify-content: space-between;
  height: 352px;

  h2 {
    font-size: 56px;
    font-family: variables.$font-medium;
    color: variables.$white;
    text-align: left;
  }
}
